.movieCard{
  background-color: #41414e;
  border: white solid 1px;
  border-radius: 12px;
  flex: 1 1 200px;
  color: white;
  position: relative;
}

.movieImage{
  border-radius: 12px;
  width: 40%;
}

.movie-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.button-row {
  position: absolute;
  bottom: 10px; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px; 
}