.side-bar{
    
    position: fixed;
    top: 0;
    right: -200px;
    width: 100px;
    height: 100vh;
    background-color: lightgray;
    padding: 20px;
    transition: right 0.5s ease-in-out;
}

.side-bar.open{
    right: 0;
}

.side-bar h3{
    margin-top: 0;
}
.side-bar ul{
    list-style: none;
    padding-left: 0;
}
.side-bar li{
    margin-bottom: 0.3rem;
}

