.side-bar{
    flex: 1;
    border-left: 1px solid #ddd;
    padding: 1rem;
    overflow-y: auto;
    background: #f9f9f9;
}

.side-bar h3{
    margin-top: 0;
}
.side-bar ul{
    list-style: none;
    padding-left: 0;
}
.side-bar li{
    margin-bottom: 0.3rem;
}