.App {
  text-align: center;
  background-color: #17181f;
}

.App-header {
  background-color: #17181f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.header{
  background-color: #17181f;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.banner{
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: grey;
}
.main-content{
  background-color: #17181f;
}

.load-more-btn{
  margin: 10px;
}


.header-text{
  font-size: 40px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}